## Contentful (Delivery API)
## Créez un Space + un Content Model `realisation` puis renseignez :
VITE_CONTENTFUL_SPACE_ID=
VITE_CONTENTFUL_DELIVERY_TOKEN=
## Optionnel (par défaut: master)
VITE_CONTENTFUL_ENVIRONMENT=master

